# Dependências
/node_modules
/npm-debug.log
/yarn-debug.log
/yarn-error.log

# Arquivos de build/distribuição
/dist

# Arquivos de ambiente
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Arquivos de cache
.npm
.eslintcache

# Arquivos de sistema
.DS_Store
Thumbs.db

# Arquivos de cobertura de testes
/coverage

# Arquivos de log
logs
*.log

# Arquivos de IDE/editores
.idea/
.vscode/
*.swp
*.swo

#
src
tests
*.md
*.ts
rollup.config.js
tsconfig.json
eslint.config.js
